<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="ChatBusinessTier.ChatBusinessTierImplementation">
				<endpoint address="" binding="basicHttpBinding" contract="ChatBusinessTier.ChatBusinessTierInterface"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/BusinessTier"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>